.listening__history {
  display: grid;
  grid-template-rows: 80px 1fr 1fr;
}
.listening__history .history {
  background: #502285;
  border-radius: 10px;
  padding: 20px 10px;
}

.song__cover img {
  width: 100%;
  height: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Hidding side menu  */
@media only screen and (max-width: 520px) {
}
